body    {
    font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
    font-size:12px;
    margin:0;
    padding:0;
    background: #f6f6ee url(../images/bck.jpg);
    }

#main-content
{
    margin:0;
    padding:0;
    position:relative;
}
header#site_head {

    background: url(../images/bck_head.jpg);

    /* create a shadow of dark pinkish red */

    x-shadow: inset 0px -2px 3px #480508;
    -khtml-box-shadow: inset 0px -2px 3px #480508;
    -webkit-box-shadow: inset 0px -2px 3px #480508;
    box-shadow: inset 0px -2px 3px #480508;

    /* solid border of greyish white */

    border-bottom: 1px solid #fffffb;
    height: 40px;
    width: 100%;
    display: block;
}
/* header of 960px width */


#logo 
    {
    float:left;
    position:relative;
    }
#help-menu 
    {
    float:right;
    position:relative;
    }

#logo a:link, #logo a:visited  
    {
    color:#FFF;
    text-decoration: none;
    float: left;
    font-size: 24px;
    font-weight:bold;
    text-transform:uppercase;
    padding: 5px 25px;
    width:300px;
    }
#help-menu a:link, #help-menu a:visited
    {
    color:#FFF;
    text-decoration: none;
    float: right;
    font-size: 24px;
    text-transform:uppercase;
    padding: 5px 25px;
    width:200px;
    }
 
#logo a:hover, #logo a:focus, #help-menu a:hover, #help-menu a:focus
    {
    color: #CC3300;
    /*background-color:#cc3300;*/
    }

nav 
    {
    float:left;
    height:38px;
    position:relative;
    width:100%;
    border-top: 1px solid #3d414c;
    border-bottom: 1px solid #3d414c;
    }
nav ul
    {
    margin-left:21px;
    }

nav ul li 
    {
    float: left;
    list-style: none;
    margin-right: 0.5em; 
    }
 
nav li a:link, nav li a:visited 
    {
    color: #961b25;
    text-decoration: underline;
    float: right;
    font-size: 16px;
    text-transform:uppercase;
    padding: 9px;
    }
 
nav li a:hover, nav li a:focus 
    {
    color: #ffffff;
    background-color:#961b25;
    }

nav li a.menu-active
    {
    color: #ffffff;
    background-color:#961b25;
    }   

/* main-title : h1 tag 50px, Georgia, with border around */
header#main-title 
    {
    font-size: 24px;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-weight: normal;
    text-transform: none;
    margin: 0 20px 2px;
    line-height: 60px;
    color: #3d414c;
    padding: 10px 0;
    letter-spacing: 0;
    }

#left-content 
    {
    width: 655px;
    float: left;
    padding: 20px 5px 0 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:20px;
    margin-left: 30px;
    }

#left-content p
    {
    padding-bottom: 10px;
    }


h2 
    {
    color:#222222;
    font-family:"proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida      Sans",Verdana,Arial,sans-serif;
    font-size:24px;
    font-weight:300;
    padding:5px 0 10px;
    }

h3 
    {
    color:#222222;
    font-family:"proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida      Sans",Verdana,Arial,sans-serif;
    font-size:20px;
    font-weight:300;
    padding:5px 0 10px;
    
    }

#left-content span
    {
    font-style:italic;
    }

#left-content img
    {
    margin: 10px 0;
    border: 1px solid #b2bbc0;
    }

#left-content embed
    {
    width:100%;
    height:400px;
    border: 1px solid #b2bbc0;
    }

/* List of thumbnails */
#left-content .experiment-list
{
    float:left;
}

#left-content .experiment-thumb img
    {
    width:160px;
    height:80px;

    }

#left-content .experiment-list .experiment-thumb strong
    {
    margin-top: 5px;
    clear:both;
    }
/*
#left-content .experiment-list a:link img,
#left-content .experiment-list a:visited img 
    {
    margin-bottom: 4px;
    border: 5px solid #ccc;
    float: left;
    }
*/

#hidden-content
    {
    display:none;
    }

table td 
    {
    padding-bottom:10px;
    padding-right: 10px;
    }
