span.list-heading {
   font-weight: bold;
   margin-top: 2em;
}

span.code {
   font-family: monospace;
   font-style: normal;
   font-weight: bold;
   color: #556B2F;
}
nav#lab-article-navigation ul li a:link, nav#experiment-article-navigation ul li a:link,
nav#lab-article-navigation ul li a:visited, nav#experiment-article-navigation ul li a:visited
{
	text-transform:none;
/*	text-transform:uppercase; */
	text-align:center;
}

