html, body {
	margin: 0;
	padding: 0;	
}

body {
	background: #F2F2F2;
	font-family: Arial;
	font-size: 13px;
	line-height: 1.6;
	color: #444;
}

#content {
	width: 350px;
	margin: 30px auto;
	padding: 20px 60px;
	border: 1px solid #D2D2D2;
	-moz-box-shadow: 0 0 30px #CCC;
	-webkit-box-shadow: 0 0 30px #CCC;
	box-shadow: 0 0 30px #CCC;
	background: #FFF;
	background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 15px);
}

h1 {
	margin: 0;
	font-size: 30px;
	font-weight: normal;
	font-family: "Museo 700", Arial;
}

h1 em {
	font-size: 50%;
	letter-spacing: -0.05em;
}

h2 {
	margin: 0;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #D8D8D8;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding-bottom: 14px;
}

a {
	outline: none;	
}

a img {
	border: 1px solid #BBB;
	padding: 2px;	
	margin: 10px 30px 10px 0;
	vertical-align: top;
}

ul {
	margin: -7px 0 24px 0;
}
