.mobile-nav .navbar-header{
	font-size: 0.6em;
}

.navbar a {
	color : #fff;
	padding: 0.5em;
}

.navbar-nav {
margin-top: 10px;
margin-left: 2%;
}

.mobile-nav  .navbar-nav{
margin-left: -15% !important;
margin-right: 1% !important;
}

.navbar-nav>li>a {
line-height: 5px;
}

.desk-nav .glyphicon{
	top :10px;
	right: 10px;
}

.mobile-nav .glyphicon-home{
	/*margin-right: 10%;*/
}

.icons{
	padding-right:0.5%;
	margin-left : -10%;
	/*padding-top: 5%*/ 
}

.icons img{
	width: 65%;
	height: 65%;
}

.navbar-default {
height: 80px;
padding-top: 15px;
padding-left: 45px;
font-size: 1.7em;
font-family: 'Actor', sans-serif;
background: #3652a4;
border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
   font-size: 1.4em;
   font-family: 'Actor', sans-serif; 
   color: #fff; 
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a{ /*.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {*/
color: #fff;
background: #3652a4;
}

.btn-primary {
background-color: #3652a4;
}

.btn-primary:hover {
background-color: #428bca;
}

@media (max-width: 480px) {
  .manual-section-description {
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}
}

@media (max-width: 1300px) {
  .navbar-default .navbar-brand {
		font-size: 1.1em;
	}
	.navbar-default {
		font-size: 1.399em;
	}
	.navbar-brand {
		line-height: 33px;
	}
}