body {
         background-color: #fff; /*#E4D8E5;*/
         /*rgba(250, 250, 255, 0.9);*/
         padding: 1em 1em 1em 1em;
         margin: 0px;
         margin-left: 1em;
         margin-right: 1em;
         font-family: Calibri, Georgia, Helvetica, Arial, sans-serif; 
         font-size: 1.50; /*1.05em;*/
         line-height: 1.49em;
      } 

.experiment-title a{
   color: rgb(80, 80, 80);
}                

h3{
  font-size : 1.5em;
}

.experiment-mobile-title{
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.1em;
}

.lab-index{
   margin-top: 2%;
   position:fixed;
   font-family: 'Actor', sans-serif;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #3652a4;
}

.lab-manual{
  float: right;
}

.experiment-card {
         position:relative; 
         /*padding: 1.5em 2em 1.5em 2em;*/
         border-radius: 1em;
         border:0px solid #3652a4;
         min-height: 0.5%;
         color:  rgb(80, 80, 80); /* #333 */
         margin-top: 1em;
         background-color: #ced8ef;
      }


.right-card {
         margin-left: 3em;
         margin-top: 3em;
      }

.experiment-title{
   font-weight: bold;
   text-align: center;
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 1.5em;
   font-family: 'Source Sans Pro', sans-serif;
   background-color: #edf1fa;
   border-radius: 2%;
   -webkit-box-shadow: 0 6px 6px -6px black;
      -moz-box-shadow: 0 6px 6px -6px black;
           box-shadow: 0 6px 6px -6px black;
}

.manual-section {
         position:relative; 
         min-height: 0.5%;
         margin-top: 1em;
         margin-bottom: 3%;
         padding-left: 4%;
         padding-right: 4%;
         font-family: 'Source Sans Pro', sans-serif;
       }      
      
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

.manual-section-title{
   padding-left: 2%;
   padding-top: 1.5%;
   font-weight: bold;
   font-size: 1.5em;
   font-family: 'Source Sans Pro', sans-serif;
   /*font-family:Georgia;*/ /*'Actor', sans-serif;*/
}

.manual-section-description{
   padding: 0em 1em 0em 1em;
   margin: 0em 1em 0em 1em;
   font-family: 'Source Sans Pro', sans-serif;
}

.experiment-thumbnail{
   border-radius: 1em;
   border: 1px solid #aaa;
   max-width: 100%;
}    

.img-thum{
   margin: 0em 1em 1em 1em;
   margin-left: 2.3em;
   margin-top: 1.2%;
   width: 160px;
   height: 160px;
   float: left;
}

.experiment-description{
   padding: 0em 1em 0em 1em;
   margin: 0em 1em 0em 1em;
   margin-top: 2%;
   height: 170px;
   overflow-y:auto;
   font-family: 'Source Sans Pro', sans-serif;
   /*border-radius: 1em;
   border: 1px solid #aaa;*/
}

.experiment-outcome{
   padding: 1em 1em 0em 1em;
   margin: 0em 1em 0em 1em;
   font-family: 'Source Sans Pro', sans-serif;
   /*border-radius: 1em;
   border: 1px solid #aaa;*/
}

.experiment-prereq{
   padding: 1em 1em 1em 1em;
   margin: 0.5em 1em 1em 1em;
   /*border-radius: 1em;
   border: 1px solid #aaa;*/
   font-weight: bold;
   text-align: right;
}

@media (max-width: 480px) {
  body {
         padding: 1em 1em 1em 1em;
         margin: 0px;
         margin-left: -2.1%;
         margin-right: -2.1%;
         margin-top: -2.1%;
      }

  .img-thum{
   margin-left: 20%;
   margin-top: 5%;
   float: none;
  }    
  .experiment-description {
  margin-top: 2%;
  height: 100%;
  }

}

@media (max-width: 1200px) {
  .youtube {
    display: block;
    max-width: 100%;
  }
}