html {
    height: 100%;
    margin-bottom: 1px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: default;
    background-color: #FFFFFF
}

.spacer {
    width: 100%;
    height: 15px;
}

hr {
    border: 0px;
    color: #CCCCCC;
    background-color: #CDCDCD;
    height: 1px;
    width: 100%;
    text-align: left;
}

p {
    color: black;
    background-color: #FFFFFF;
    text-align: justify;
    line-height: 20px;
    padding: 5px;
}

a {
    color: #478A9F;
    background-color: #FFFFFF;
	text-decoration: none;
}

a:hover {
    color: #478A9F;
    background-color: #FFFFFF;
    text-decoration: underline;
}

/*
 Headings
 */
h1 {
    font-size: 28px;
    color: #FF7F50;
    background-color: #FFFFFF;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 15px;
    color: gray;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
}

h3 {
    color: #FF7F50;
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    padding: 5px;
    margin-top: 5px;
}

/* For divs */ 

#container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #FFFFFF;
} 

#header {
    width: 100%;
    padding-top: 35px;
    float: left;
    border-bottom: 1px solid silver;
} 

#experimentname {
    width: 80%;
   float: left;
}


#Image {
	width: 15%;
    float: right;
}


#left {
    padding: 15px 0px 15px 15px;
    float: left;
    width: 20%;
    background-color: #FFFFFF;
    font-size: 120%;
} 

#main {
    padding: 15px 15px 15px 0px;
    width: 75%;
    background-color: #fff;
    float: right;
    clear: right;
} 

/* Footer */
#footer {
    clear: both;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
} 

.left {
    color: gray;
    background-color: #FFFFFF;
    float: left;
    font-size: 100%;
    margin-top: 5px;
}

#manualexample {
    font-size: 120%;
    color: rgb(172, 167, 59);
    margin-left:50px;
}
