body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 13px Arial, Helvetica,"Lucida Grande", serif; color: #000;}

/*Header*/
h2 {color:#000; font-size:25px;}
h1, article.deck header h1 {color:#000; font-size:28px;}

/* Links */
a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 11px;}
a[href^="http://"] {color:#000;} 

/*Image*/
img, img a{border:none;}

button {
display: none;}

header {display: none;}

article.deck
{
display: none;}
/*Footer*/
footer {margin-top:10px;display: none;}

#container{
display: block;

}
#container section {
padding-top: 50px;
text-align: center;
border: 1px solid #666;
min-height: 250px;
margin-bottom: 20px;
}